@using System.Text.RegularExpressions
@model List<User>

<h1>Company Users</h1>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>

            </th>
        </tr>
        @foreach (var user in Model)
        {
            var pattern = $"user";
            bool isSystemGenerated = Regex.IsMatch(user.Username, pattern);

            if (user != null)
            {
                <tr>
                    <td>
                        @if (isSystemGenerated)
                        {
                            <p>To Be Assigned</p>
                        }
                        else
                        {
                            @user.Username 
                        }
                    </td>
                    <td>
                        <a asp-asp-controller="User" asp-action="Edit" asp-route-UserId="@user.UserId">Edit</a>
                    </td>
                </tr>
            }
        }
    </table>
}