@using ProductManager.ViewModels
@model ProjectViewModel
@{
}

<h1>Create a Project</h1>

<form asp-controller="Project" asp-action="CreateProject" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CompanyId" />

    <div class="form-group">
        <label asp-for="Name">Project Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit">Create Project</button>

</form>